.app{
    overflow: hidden;
}

header{
    height: var(--header-height);
    background-image: linear-gradient(0,#fe6433,#f53e2d); /*Gradient - màu biến đổi tuyến tính trong CSS,Linear Gradient: Quét màu xuất phát từ 1 phía, có thể theo chiều lên, xuống, trái, phải, đường chéo.*/
}

.header__navbar {
    display: flex;
    justify-content: space-between; /*thuộc tính căn giữa của dislay = flex*/
}

.header__navbar-list{
    list-style: none; /*bỏ dấu chấm*/
    padding-left: 0; /*để xóa bỏ khoảng cách mặc định*/
    margin: 4px 0 0 0; /*top, left, right, bottom*/
    display: flex;
}

.header__navbar-item {
    display: inline-block; /*căn ngang*/
    color:  var(--white-color);
    margin: 0 8px; /*tăng khoảng cách các chữ*/
    font-size: 1.4rem; /*độ to*/
    font-weight: 300; /*độ dày*/
    position: relative;
    min-height: 26px;
}

.header__navbar-user{
   display: flex;
   justify-items: center;
   align-items: center;
   position: relative;
}

.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid #757575;
}

.header__navbar-user-name{
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user-item-out{
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-user-list{
    position: absolute;
    z-index: 1; /*nổi lên*/
    background-color: var(--white-color);
    color: var(--text-color);
    width: 160px;
    top: 100%;
    font-weight: 400;
    border: 1px solid var(--boder-color);
    text-align: left;
    margin-top: 9px;
    right: -19px;    
    padding-left: 0;
    display: none;
}

.header__navbar-user:hover .header__navbar-user-list{
    display: block;
}

.header__navbar-user:hover .header__navbar-user-list{
    display: block;
}

.header__navbar-user-list::before{
    content: "";
    border-color: transparent transparent var(--white-color) transparent ;
    border-style: solid;
    border-width: 16px 17px;
    display: block;
    position: absolute;
    top: -31px;
    right: 20px;
    
}

.header__navbar-user-list::after{
    content: "";
    position: absolute;
    display: block;
    top: -15px;
    right: 0;
    width: 83%;
    height: 15px;
}

.header__navbar-user-item{
    list-style-type: none;
    width: 100%;
}


.header__navbar-user-item a{
    text-decoration: none;
    display: inline-block;
    padding: 12px 16px;
    width: 100%;
    color: var(--text-color);
}

.header__navbar-user-item a:hover{
    background-color: #fafafa;
    color: #26aa99;
}




.header__navbar-item-link {
    display: inline-block; /*căn ngang*/
    color: var(--white-color);
    text-decoration: none; /*bỏ gạch chân*/
    font-size: 1.4rem;
    font-weight: 300;
}

.header__navbar-item-fas{
   margin-right: 4px;
}


.header__navbar-item--strong{
    font-weight: 400;
}

/*css tạo ra dấu gạch giữa*/
.header__navbar-item--separate::after{
    content: ""; /*chèn nội dung được tạo,content: "thêm text";*/
    position: absolute;
    display: block;
    border-right: 1px solid #fb9086;
    height: 1.6rem;
    right: -9px; /*right và top để căn giữa cho dấu gạch*/
    top: 50%;
    transform: translateY(-50%); /*trục dọc để dấu gạch căn chuẩn*/
}

.header__navbar-item:hover,
.header__navbar-item-link:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
/*css cho icon fb,is*/
.header__navbar-icon-link{
    color: var(--white-color);
    margin-left: 6px;
    font-size: 15px;
}

.header__navbar-icon-link:hover{
    opacity: 0.7;
}

/*css để căn chuẩn cho icon fb,is*/
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    
}
/*css cho chữ kết nối*/
.header__navbar-title--no--poiter{
    cursor: text;
    color: var(--white-color);
}

/* Header QR code */

.header__qr{
    z-index: 1;
     position: absolute;
     background-color: var(--white-color);
     left: 0;
     top: 130%;
     width: 186px;
     padding: 8px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/*tạo cầu nối để hover, để hiện lên qr code*/
.header__qr::before{
      content: "";
      position: absolute; /*cho :before có thuộc tính content: "" rỗng, position: absolute để chạy theo phần tử cha*/
      display: block;
      width: 100%;
      height: 20px;
      left: 0;
      top: -8px;
}

.header__navbar-item--has-qr:hover .header__qr{ /*khi hover vào thẻ li thì mới hiện header__qr lên*/
    display: block;
}


.header__qr-img{
   width: 100%;
}

.header__qr-apps{
  display: flex;
  justify-content: space-between;
}

.header__qr-link:nth-child(1){ /*thuộc tính nth child số thứ tự để trỏ đến các class giống nhau mà mình muốn css khác nhau||hạn chế sử dụng*/
    margin-left: 10px;
}

.header__qr-link:nth-child(2){
    margin-right: 10px;
}

.header__qr-download-img{
  height: 14px;
}

/*Header notification*/

.header__notify{
  position: absolute;
  z-index: 1;
  top: 118%;
  right: 0; /*đẩy sang trái*/
  width: 404px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background-color: var(--white-color);
  transform-origin: calc(100% - 32px) top; /*chỉnh tâm của độ nở animasion*/
  animation: headerNotifyGrowth ease-in 0.25s ;
  will-change: opacity, transform; /*tối ưu chuyển động cho opacity và transfrom*/
  display: none;
}

/*tạo cầu nối before cho thông báo*/
.header__notify::before{
   content: "";
   position: absolute;
   border-width: 20px 30px;
   border-style: solid;
   border-color: transparent transparent var(--white-color) transparent ; /*transparent là màu trong suốt*/
   top: -30px;
   right: 5px;
}

/*tạo cầu nối after cho thông báo*/
.header__notify::after{
    content: "";
    position: absolute;
    border-width: 10px 41px;
    border-style: solid;
    top: -18px;
    right: -2px;
    display: none;
 }

.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}

@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
          transform: scale(0); /*scale là thuộc tính nở to ra*/
    }

    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header{
  height: 40px;
  background-color: var(--white-color);
  display: contents;
  cursor: default;
}

.header__notify-header h3{
    color: #666;
    margin: 0 0 0 12px; /*để dính sát*/
    font-weight: 400;
    font-size: 1.4rem;  
    line-height: 40px; /*vừa với chiều cao header__notify-header để căn giữa */
  }

.header__notify-list{
   padding-left: 0;
}

.header__notify-item{
    display: flex;
}

.header__notify-item:hover{
    background-color: #f7f7f7;
}

.header__notify-item--viewed{
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-link{
   display: flex;
   padding: 12px;
   text-decoration: none;
   
   width: 100%;
}

.header__notify-img{
  width: 48px;
  object-fit: contain; /*thuộc tính để ảnh không bị méo*/
}

.header__notify-info{
   margin-left: 12px;
   margin-top: 10px;
}

.header__notify-name{
  display: block;
  font-size: 1.4rem;
  color: var(--black-color);
  font-weight: 400;
}

.header__notify-descrition{
    display: block;
    font-size: 1.2rem;
    color: #756f6e;
    line-height: 1.4rem;
}

.header__notify-footer{
    text-align: center;
    padding: 12px;
    display: flex;
}

.header__notify-footer-btn{
    color: var(--black-color);
    text-decoration: none;
    padding: 8px 100px;
    margin: auto;
} 

/*Auth Modal*/

.auth-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden; /*hiểu là khi con vượt quá cha thì ẩn đi, boder*/
}

.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 12px;
}

.auth-form__heading{
    font-size: 2rem;
    font-weight: 400;
}

.auth-form__switch-btn{
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
}

.auth-form__input{
    width: 100%;
    height: 36px;
    margin-top: 16px;
    padding: 0 12px; /*padding bên trong để chữ input cách ra*/
    font-size: 1.2rem;
    border: 1px solid var(--boder-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus{ /*trỏ vào thì hiện viền*/
    border-color: #888;
}

.auth-form__aside{
  font-size: 1.2rem;
  text-align: center;
  margin-top: 18px;
  line-height: 1.8rem;
}

.auth-form__policy-text{
  font-weight: 500;
}

.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls--back{
    margin-right: 8px;
}

.auth-form__socials{
   padding: 16px 36px;
   background-color: #f5f5f5;
   display: flex;
   justify-content: space-between;
   margin-top: 22px;
}

.auth-form__socials-icon{
    font-size: 1.8rem;
}

.auth-form__socials-facebook{
    background-color: #3a5398;
    color: var(--white-color);
}

.auth-form__socials-facebook
.auth-form__socials-icon{
    color: var(--white-color);
}

.auth-form__socials-title{
    margin: 0 36px;
}

.auth-form__socials-google{
    background-color: var(--white-color);
    color: #666;
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;  
}

.auth-form__help-sparate{
    display: block;
    border-left: 1px solid #eaeaea;
    height: 22px;
    margin: -2px 14px -4px;
}

.auth-form__help-forgot{
    color: var(--primary-color);
}

/**/

.header-with-search{
    height: var( --header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header-with-search-mobile{
    display: none;

}

.header-with-search-mobile-icon{
    font-size: 2rem;
    color: var(--white-color);
}

.header-with-bars-mobile-icon{
    font-size: 2rem;
    color: var(--white-color);

}


/**/

.header-with-bars-mobile{
    display: none;
}

.header__action-list{
    position: fixed;
    top: var(--header-height);
    left: 0;
    background-color: var(--white-color);
    z-index: 1;
    flex-direction: column;
    margin: 0;
    padding-left: 0;
    justify-content: space-between;
    display: none;
    animation: HeaderAtionList linear 0.3s;
}

.header__action-item{
    list-style-type: none;   
    padding: 44px 78px;
    box-shadow: 0 1px 2px #e0e0e0;  
}

.header__action-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 24px 24px;
}

.header__action-link:hover{
    cursor: pointer;
    color: var(--primary-color);
}

.header__bars-checkbox:checked ~ .header__action-list{
    display: flex;
}


@keyframes HeaderAtionList {
    from{
        opacity: 0;
        transform: translateY(calc(100% + 32px));
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
    
}



/**/


.header__logo{
    width: 200px;
}

.header__logo-link{ /*không lỗi màu, bỏ gạch chân*/
    color: transparent;
    text-decoration: none;
    display: block;
    line-height: 0;
}

.header__logo-img{
    width: 150px;
}

.header__search{
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.header__search-checkbox:checked ~ .header__search{
    display: flex;
}

.header__cart{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__cart-wrap{
    position: relative;
    padding: 10px 10px;
}

.header__cart-wrap:hover{
     cursor: pointer;
}

.header__cart-icon{
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 6px;
}

.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input{
    height: 100%;
    font-size: 1.4rem;
    padding: 0 16px;
    border: none;
    outline: none;
    color: var(--text-color);
    border-radius: 3px;
}


.header__search-select{
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
}

.header__search-select-label{
    font-size: 1.4rem;
    padding: 0 8px;
    color: var(--text-color);
}

.header__search-select-icon{
    font-size: 1.2rem;
    margin: 0 16px 0 8px;
    color: #4a4a4a;
    position: relative; /*dùng để di chuyển mà không ảnh hưởng đến thuộc tính khác*/
    top: -1px;
}

.header__search-btn{
  height: 34px;
  background-color: var(--primary-color);
  width: 60px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3px;
  border-radius: 3px;
}

.header__search-btn:hover{
    opacity: 0.9;
    cursor: pointer;
}

.header__search-btn-icon{
    color: var(--white-color);
    font-size: 1.5rem;
    margin-top: 3px;
}

.header__search-option{
    position: absolute;
    width: 130px;
    background-color: var(--white-color);
    top: 100%;
    list-style: none;
    padding-left: 0;
    border-radius: 3px;
    box-shadow: 0 1px 2px #e0e0e0;  
    margin-top: 13px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}

.header__search-select:hover .header__search-option{
    display: block;
}

.header__search-option ::after{
    content:  "";
    position: absolute;
    display: block;
    width: 100%;
    height: 50px;
    top: -29px;
    right: -1px;
}



.header__search-option-item{
    background-color: var(--white-color);
    padding: 8px 8px;
}

.header__search-option-item:first-child{ 
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

}

.header__search-option-item:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}



.header__search-option-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span{
   font-size: 1.4rem;
   color: var(--text-color);
   margin-left: 8px;
}

.header__search-option-item i{
   font-size: 1.4rem;
   color: var(--primary-color);
   margin-left: 16px;
   display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

/*history*/

.header__search-history{
     position: absolute;
     background-color: var(--white-color);
     top: calc(100% + 2px);
     left:0;
     width: calc(100% - 16px);
     border-radius: 3px;
     box-shadow: 0 1px 5px #999;
     display: none;
     z-index: 1;

}

.header__search-input:focus ~.header__search-history{ /*focus, click vào mới hiện*/
    display: block;
}

.header__search-heading{
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
    margin-bottom: 16px;
}

.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.header-search-history-item{
    height: 38px;
    padding: 0 12px;
}

.header-search-history-item a{
   text-decoration: none;
   font-size: 1.4rem;
   color: var(--black-color);
   line-height: 38px;
   font-weight: 500;
}

.header-search-history-item:hover{
    background-color: #ccc;
    cursor: pointer;
}

/*cart*/
.header__cart-list{
    position: absolute;
    width: 400px;
    top: calc(100% + -2px);
    right: -5px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    border: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 1;
}


.header__cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-list-no-cart{
    padding: 24px 0;
}

.header__cart-list-no-cart .header__cart-no-cart-img,
.header__cart-list-no-cart .header__cart-no-cart-msg{
    display: block;
}




.header__cart-no-cart-img{
    display: none;
    width: 50%;
    margin-left: 100px;
}

.header__cart-no-cart-msg{
    display: none;
    margin-left: 141px;
    padding: 24px 0;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 500;
}

/*tạo hình mũi tên cho cart*/

.header__cart-list::before{
    cursor: pointer;
    content: "";
    position: absolute;
    border-width: 19px 25px;
    border-style: solid;
    top: -29px;
    right: 2px;
    border-color: transparent transparent var(--white-color) transparent ; /*transparent là màu trong suốt*/
 }

 .header__cart-notice{
     position: absolute;
     background-color: var(--white-color);
     color: var(--primary-color);
     padding: 1px 7px;
     border-radius: 10px;
     border: 2px solid #ee4d2d;
     font-size: 1.4rem;
     top: 5px;
     right: -1px;
     line-height: 1.4rem;
 }

 /*cart - cart*/

 .header__cart-heading{
     font-size: 1.6rem;
     color: #999;
     font-weight: 400;
     margin: 8px 0 8px 12px; /*trên, phải, dưới, trái*/
     text-align: left;
 }

.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    max-height: 56vh; /* view port height, tức là cao bằng 56% màn hình*/
    overflow-y: scroll; /*lấy chiều dọc*/
}

.header__cart-item{
   display: flex;
}

.header__cart-item:hover{
    background-color: #f8f8f8;
}

.header__cart-img{
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #e8e8e8;
}

.header__cart-item-info{
    width: 100%; /*chiếm hết chiều ngang, để đẩy dislay phía dưới*/

}

.header__cart-item-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__cart-item-name{
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 13px 0;
    font-weight: 400;

    /*xử lý trường hợp tên bị dài*/
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
  
}

.header__cart-item-price-wrap{
    margin-right: 12px;
}

.header__cart-item-price{
    color: var(--primary-color);
    font-size: 1.4rem;

}

.header__cart-item-multiply{

}

.header__cart-item-qnt{

}

.header__cart-item-body{
    display: flex;
    text-align: center;
    justify-content: space-between;

}

.header__cart-item-description{
    color: #666;

}

.header__cart-item-remove{
    margin-right: 12px;
    font-size: 1.3rem;
    color: var(--text-color);
}

.header__cart-item-remove:hover{
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-cart{
    float: right;
    margin: 0 12px 8px 12px;
}

/*header__sort-bar*/

.header__sort-bar{
    position: fixed;
    height: var( --header-soft-bar-height);
    background-color: var(--white-color);
    left: 0;
    right: 0;
    top: var(--header-height);
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header__sort-item{
    list-style-type: none;
    flex: 1;
}

.header__sort-link{
    position: relative;
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    height: 100%;
    color: var(--text-color);
    line-height: var(--header-soft-bar-height);
    text-align: center;
}

.header__sort-link::before{
    content: "";
    position: absolute;
    top: 50%;
    border-left: 1px solid #e5e5e5;
    left: 0;
    height: 60%;
    transform: translateY(-50%);
}

.header__sort-item:first-child .header__sort-link::before{
    display: none;
}

.header__sort-item-primary .header__sort-link{
    color: var(--primary-color);
}

/*App container*/

.app__container{
    background-color: #f5f5f5;
}

.app__content{
    padding-top: 36px;
}

.category{
    background-color: var(--white-color);
    border-radius: 2px;
}

.category-heading{
    font-size: 1.8rem;
    color: var(--text-color);
    padding: 16px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 12px 0;
    margin-top: 0;
}

.category-heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list{ /*thẻ ul có mặc định padding left, nên bỏ đi*/
    padding: 0 0 12px 0;
}

.category-item{
    list-style-type: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.category-item-link{
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: 6px 16px;
    margin-left: 10px;
    /*animation mới*/
    position: relative;
    right: 0;
    animation: right linear 0.1s;
}

.category-item-link:hover{
    /*animation*/
    right: -4px;
    color: var(--primary-color);
}

.category-item-active{
   position: relative;
   left: 2px;
}

.category-item-active-link{
    font-size: 1.6rem;
    margin-top: -10px;
}

.category-item-active::before{
    content: "";
    display: block;
    position: absolute;
    border-style: solid;
    border-color: transparent transparent transparent var(--primary-color);
    border-width: 6px 7px;
    left: 15px;
    /*trick căn giữa*/
    top: 50%;
    transform: translateY(calc(-50% - 1px));
}

.category-item-active .category-item-link{
    color: var(--primary-color);
}

/*Home sort + filter*/

.home-filter{
   background-color: rgba(0, 0, 0, 0.04);
   display: flex;
   align-items: center;
   padding: 12px 22px;
   border-radius: 2px;
}

.home-filter__label{
    color: #555555;
    font-size: 1.4rem;
    margin-right:16px ;
}

.home-filter-btn{
    margin-right: 12px;
    min-width: 90px;
}

.home-filter__page{
    display: flex;
    margin-left: auto; /*đẩy 1/4 <> sang phải, chưa hiểu lí do*/
}

/*mobile__catogory*/

.mobile__catagory{
    display: none;
}

.mobile__catagory-list{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    /* 2 thuộc tính tự động sinh ra thanh kéo*/
    max-width: 100%;
    overflow-x: auto;
    
}

.mobile__catagory-list::-webkit-scrollbar{
    display: none;
}

.mobile__catagory-item{
    flex-shrink: 0; /*thuộc tính tăng giảm độ co của thẻ*/
    margin-right: 10px;
}

.mobile__catagory-item:nth-of-type(3n) .mobile__catagory-link{
   
    background-color: #87afd8;

}

.mobile__catagory-item:nth-of-type(3n+1) .mobile__catagory-link{
    background-color: #76c9bd;

}

.mobile__catagory-item:nth-of-type(3n+2) .mobile__catagory-link{
    background-color: #88cf81;

}

.mobile__catagory-link{
    --line-height: 2rem;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--white-color);
    width: 110px;
    text-align: center;
    border-radius: 4px;
    font-weight: 300;
    padding: 0 5px;

     /*tạo dấu ...*/
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    overflow: hidden; /*ẩn các lớp con lòi ra ngoài khỏi cho*/
    display: block;/*khi webkit-box không chạy sẽ chạy block*/
    display: -webkit-box; /*chỉ hỗ trợ một số trình duyệt nhất định*/
    -webkit-box-orient: vertical; /*hướng của dòng chữ, hướng box theo chiều nào, vertical là chiều dọc*/
    -webkit-line-clamp: 2; /*hạn chế content của một khối, xét theo số dòng , ở đây mình muốn tác động lên dòng 2 nên là 2*/
}

/**/

.select-input{

}

.select-input__label{
    font-size: 1.4rem;
}

.select-input__icon{
    font-size: 1.2rem;
    color: #4a4a4a;
    position: relative;
    top: -1px;
}

.select-input__list{
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 16px;
    list-style-type: none;
    display: none;
    z-index: 1;
}

.select-input__item{
    text-decoration: none;
    
}

.select-input__link:hover{
    color: var(--primary-color);
}

.select-input__link{
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color);
    display: block;
    padding: 4px 0;
}

.select-input:hover .select-input__list{
    display: block;
}

.home-filter__page-num{
    font-size: 1.4rem;
    margin: 0 12px;
    display: flex;
    align-items: center;
}

.home-filter__page-current{
    color: var(--primary-color);
}

.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
    background-color: var(--white-color);

}

.home-filter__page-btn{
    text-decoration: none;
    flex: 1;
    display: flex;
}

.home-filter__page-btn:first-child{
    border-right: 1px solid #eee;
}

.home-filter__page-icon{
    margin: auto;
    color: #555555;
}

.home-filter__page-btn-disabled{
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn-disabled .home-filter__page-icon{
    color: #ccc;
}

/**/

.home-product{
    margin-top: 10px;
}

.grid__row{

}


.home-product-item{
    display: block;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1); /*bóng đổ*/

    /*hiệu ứng giật*/
    transition: transform ease-in 0.1s;
    will-change: transform;
}

.home-product-item:hover{
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item-alignment{
    margin: 5px 10px;
    line-height: 2rem;
}

.home-product-item-img{
    width: 100%;
}

.home-product-item-label{
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 5px 0;
    display: block;
    font-weight: 400;

    /*tạo dấu ...*/
    height: 3.9rem; /*3 dòng là 7.2rem - đi 10px magrin trên dưới còn 62rem, giới hạn 2 dòng sẽ còn 4rem, lấy 3.9 nhìn hợp lý hơn*/
    line-height: 1.8rem;
    overflow: hidden; /*ẩn các lớp con lòi ra ngoài khỏi cho*/
    display: block;/*khi webkit-box không chạy sẽ chạy block*/
    display: -webkit-box; /*chỉ hỗ trợ một số trình duyệt nhất định*/
    -webkit-box-orient: vertical; /*hướng của dòng chữ, hướng box theo chiều nào, vertical là chiều dọc*/
    -webkit-line-clamp: 2; /*hạn chế content của một khối, xét theo số dòng , ở đây mình muốn tác động lên dòng 2 nên là 2*/
}

.home-product-item__price{
    margin: 5px 0;
    align-items: baseline;
    display: flex;
    flex-wrap: wrap; /*dài quá thì xuống dòng*/
}

.home-product-item__price-old{
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through; /*gạch ngang giữa các chữ*/
    margin-right: 6px;
}

.home-product-item__price-new{
    font-size: 1.4rem;
    color: var(--primary-color);

}

.home-product-item__icon{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;

}

.home-product-item__icon-heart{

}

.home-product-item__icon-heart-fill{
    display: none;
    font-size: 1rem;
}

.home-product-item__icon-heart-empty{
    font-size: 1rem;

}

.home-product-item__heart--liked .home-product-item__icon-heart-fill{
    display: inline-block;
    color: #f63d30;
}

.home-product-item__heart--liked .home-product-item__icon-heart-empty{
    display: none;
}


.home-product-item__icon-star{
    color: var(--text-color);

}

.home-product-item__star-gold {
   color: var(--star-gold-color);
   font-size: 1rem;
}

.home-product-item__sold{
    font-size: 1rem;
    padding: 0 2px;
    color: var(--text-color);
}



.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    color: #595959;
    font-weight: 200;
}

.home-product-item__origin-brand{

}

.home-product-item__origin-name{

}

.home-product-item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor; /*ăn theo màu chủ đạo, ở đây là primary color*/
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    align-items: center;    
    padding: 0 2px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}


/*tạo tam giác nhỏ*/
.home-product-item__favourite::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    /*tạo tam giác nghiêng góc 45 độ*/
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%); /*giảm màu so với màu chủ đạo đi 60%*/
}

.home-product-item__favourite span{
    color: var(--white-color);
}
.home-product-item__favourite i{
    font-size: 0.9rem;
    margin: 0 2px;
    color: var(--white-color);
}

.home-product-item__sale-off{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.94);
    text-align: center;

}

/*tạo 2 tam giác*/
.home-product-item__sale-off::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    /*lấy nửa tam giác, bỏ đi boder-top bài 138: css nhãn giảm giá  phút::14*/
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94) ;

}

.home-product-item__sale-off-percent{
    color: #ee4d2d;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin: 3px 0;

}

.home-product-item__sale-off-label{
    color: var(--white-color);
    font-size: 1.3rem;
    font-size: 1.3rem;
    font-weight: 600;
}

.footer{
    border-top: 4px solid var(--primary-color);
    padding: 12px;
}

.footer__heading{
    font-size: 1.6rem;

}

.footer-list{
    list-style-type: none;
    padding-left: 0;
    margin: 12px 0;
}

.footer-item{
    margin: 8px 0;
}


.footer-item__link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
}

.footer-item__link:hover{
    color: var(--primary-color);
}

.footer-item__link-icon{
    font-size: 1.6rem;
    margin-right: 8px;
}

.footer__download{
    display: flex;
}

.footer__download-qr{
    width: 85px;
    height: 80px;
    padding: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);

}

.footer__download-apps{
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__download-img{
    height: 20px;
    padding: 2px;
}

.footer__download-img-gg{

}

.footer__download-img-as{
}

.footer-decor{
    border-bottom: 1px solid #ccc;
}

.footer-text-one{
    font-size: 1.4rem;
    color: #737373;

}

.footer-text-two{
    font-size: 1.4rem;
    color: #737373;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.footer-text-nc{
    border-right: 1px solid #737373;
    padding: 0 4px;
}

.footer-decor-one{
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
}

/*footer-bottom*/

.footer__bottom{
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;

}

.footer__bottom-one{
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer__bottom-one-heading{
    text-decoration: none;
    font-size: 1.2rem;
    color: #707070;
    border-right: 1px solid #707070;
    padding: 0 24px;
}

.footer__bottom-two{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__bottom-two-bct1-link{

}

.footer__bottom-btc1-two-img{
    width: 140px;
    height: 54px;
    margin-right: 16px;
}

.footer__bottom-two-btc2-link{

}

.footer__bottom-btc2-two-img{
    width: 73px;
    height: 53px;
}


.footer__bottom-three-heading{
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #707070;
    padding: 16px 0;
}

.footer__bottom-four{
   text-align: center;
   padding: 8px 0 120px 0;
   line-height: 2;
}

.footer__bottom-four-heading{
   color: #707070;
   font-size: 1.3rem;
}
